<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
<!--  <script type="text/javascript" src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
      ShopifyApp.init({
          apiKey: '{{ SHOPIFY_APP_API_KEY }}',
          shopOrigin: 'https://{{ user.myshopify_domain }}'
      });
      ShopifyApp.ready(function() {
          ShopifyApp.Bar.initialize({
              title: '{{ SHOPIFY_APP_NAME }}',
              buttons: {}
          });
      });
  </script> -->
</head>
<body>
  Thank you for installing this Plug-in.

  The Plug-in provides Altitude Labs read-only access to your sales record through Shopify API. The data collected will only be used for the purpose of data analysis within Altitude Lab and will not be disclosed to any third party. The result will be presented to you as soon as we finished the data analysis.

  Please feel free to contact us for any enquiries.

  Jacky Ma
  VP of Data Science
  jma@altitudelabs.com
  +852 92534314
</body>
</html>
