<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
<!--  <script type="text/javascript" src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
      ShopifyApp.init({
          apiKey: '{{ SHOPIFY_APP_API_KEY }}',
          shopOrigin: 'https://{{ user.myshopify_domain }}'
      });
      ShopifyApp.ready(function() {
          ShopifyApp.Bar.initialize({
              title: '{{ SHOPIFY_APP_NAME }}',
              buttons: {}
          });
      });
  </script> -->
</head>
<body>
  HI {{ user }}
  Product:
  {% if products %}
  <ul>
    {% for product in products %}
      <li>{{ product.title }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</body>
</html>
